/* CSS Gradients */

body {
  background-color: silver;
}

div {
  height: 300px;
  width: 300px;

  margin: 50px auto;

  background-image: linear-gradient(
    to bottom left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
}
